# Environment files
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Project-specific ignores
Lego/.lego_manager_license_agreed
*.json~
*export*.json
Lego/0.json
Lego/1.json

# OS-specific
.DS_Store
Thumbs.db